.container {
  width: 400px;
  height: 100vh;
  margin: 0 auto;
  padding: 0px 10px;
  background-color: #d7e3ff;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  padding: 15px; 
}

header h2 {
  flex-grow: 1;
  text-align: center; 
  margin: 0;
}

header button {
  position: absolute; 
  right: 8px;
}

mat-form-field {
  width: 100%;
  padding-top: 20px;
  border-top: 2px solid #808080;
  border-bottom: 2px solid #808080;
}

.list {
    flex-flow: 1;
    overflow-y: auto;
    padding: 8px 0px;
}

mat-list {
    display: flex;
    flex-direction: column;
    gap: 8px;    
}

mat-list-item {
    background-color: #fff;
    border-radius: 5px;
  cursor: pointer;
}

mat-list-item span {
    cursor: pointer;
}
