html, body {
  --mdc-list-list-item-hover-label-text-color: black;
  --mdc-list-list-item-focus-label-text-color: black;
  --mdc-list-list-item-label-text-color: black;
  --mdc-list-list-item-supporting-text-color: black;
  //
  --mdc-outlined-text-field-outline-width: 1px;
  --mdc-outlined-text-field-focus-outline-width: 2px;
  --mat-form-field-container-height: 44px;
  --mat-form-field-container-vertical-padding: 12px;
  --mat-form-field-filled-with-label-container-padding-top: 20px;
  --mat-form-field-filled-with-label-container-padding-bottom: 6px;
  //
  --mat-icon-button-hover-state-layer-opacity: .1;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
